.body{
    margin-top: 10px;
    widows: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
}
.media{
    width: 100%;
    height: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}